{% extends "layout.twig" %}

{% block content %}
	<script type="text/javascript">
		function OpenAdvancedSearchOptionsWindow(win) {
			var freeText =  document.getElementById('advanced_text_search').value;
var w = 1200;
var h = 562;
const y = win.top.outerHeight / 2 + win.top.screenY -(h / 2);
const x = win.top.outerWidth / 2 + win.top.screenX -(w / 2);
win.open('/pages/AdvancedSearchOptions.php?freeText='+freeText, 'AdvancedOptionWindow', `toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=${w}, height=${h}, top=${y}, left=${x}`);
}


function getAdvancedFilters(deviceManufacturerID, deviceTypeID, deviceICD11Code) {
alert('inside advanced search'+deviceManufacturerID+deviceTypeID+deviceICD11Code);
document.getElementById('AdvancedFilters').value = 'Device Manufacturer ID : ' + deviceManufacturerID + 'Device Type ID : ' + deviceTypeID + 'Disease ICD-11 Code : ' + deviceICD11Code;


}
	</script>

	<div class="container">

		<div class="row">


			<div class="col card bg-light bg-gradient mt-5">

				<div class="card-title mt-3">
					<h1 class="text-center text-primary py-2"> Search</h1>
				</div>

				<div class="card-body mt-4">
					<form class="form" action="AdvancedSearch.php" method="get">
						<div class="container">

							<div class="row">

								<div class="col-9">
									<input type="text" class="form-control" id="advanced_text_search" name="advanced_text_search" placeholder="Search by Device ID, Device Generic/Manufacturer Name, Device Type, Device Model, Disease name and ICD-11 Code"><br><br/>
								</div>

								<div class="col">
									<button name="AdvancedSearch" class="btn btn-success mt-3,form-control" type="submit">Search</button><br><br/>
								</div>
								<div class="col-2">
									<a onclick="OpenAdvancedSearchOptionsWindow(window)" class="link-secondary text-end">Advanced Filters</a>
									<br><br/>
								</div>
							</div>
							

						</div>


					</form>
				</div>
			</div>

		</div>

		<div class="row">
			{% for device in devices %}

				<div class="col card bg-light bg-gradient mt-5">

					<div class="card-title mt-3">
						<p class="text-center text-muted">{{ device.ManufactureName }}</p>
					</div>
					<div class="card-body mt-4">
						<div class="container">
							<div class="row">
								<div class="col">

									<div height="300px" width="300px">
										<iframe src='https://drive.google.com/file/d/1ABzNSkNTyqeqVlrtYLB7u_JjNY5sGh-3/preview' width='100' height='100' allow='autoplay'></iframe>
									</div>


									{# 	<div height="300px" width="300px">{{ device.DeviceImageUrl }}</div>
																																	 #}

								</div>
								<div class="col">
									<p>Device ID :
										{{device.PoctDeviceId}}</p>
									<p>Device Generic Name:{{ device.GenericName }}</p>
									<p>Device Model:{{ device.DeviceModel }}</p>
									<p>Device Type:{{ device.DeviceType }}</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p>Device Description:</p>
									<p>{{ device.DeviceDescription  }}</p>
								</div>
							</div>
						</div>

					</div>
				</div>


				<div class="w-100"></div>
			{% endfor %}
		</div>
	</div>

{% endblock %}

