{% extends "layout.twig" %}

{% block content %}
	<ul>
		{% for file in files %}
			<li>{{file.id}} {{file.name}}</li>
      <a href={{"/controller/download.php?fileId=" ~ file.id}}>Download</a>
			<p>{{file.download}}</p>
			<p>{{file.view}}</p>
		{% else %}
			No file found.
		{% endfor %}
	</ul>
{% endblock %}
