{% extends "layout.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-1"></div>

			<div class="main-container col card bg-light bg-gradient mt-5">

				<div class="device-details card bg-light bg-gradient mt-3 mb-3">
					<div class="card-title">
						<h3 class="text-center text-primary py-2 mb-3 h3">{{ device.poct_device_manufacture_name }}</h3>
						<p class="text-center text-muted">{{ device.poct_device_generic_name }}</p>
					</div>
					<div class="container">
						<div class="row">
							<div class="col">
								<div style="margin:auto;height:300px;width:300px"><img src={{device.thumbnail}} height="300px" width="300px"></div>
							</div>
							<div class="col">
								<p>Device Model:
									{{ device.device_model }}</p>
								<p>Device Type:
									{{ device.device_type }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<p>Device Description:</p>
								<p>{{ device.device_descripition  }}</p>
							</div>
						</div>
						<div class="row">
							<a href={{"/pages/Manufacturer/DeviceUpdate.php?device_id=" ~ device.device_id}} class="btn btn-primary mb-3">Edit</a>
						</div>
					</div>
				</div>

				<div class="image-list card bg-light bg-gradient mt-3 mb-3">
					<div class="card-title">
						<h3 class="text-center text-primary py-2 mb-3 h3">Device Images</h3>
					</div>
					<div class="container">
						<div class="row">
							<table class="table">
								<tr>
									<th scope="col">Document Name</th>
									<th scope="col">Actions</th>
								</tr>
								{% for image in images %}
									<tr>
										<td>{{image.label}}</td>
										<td>
											<a href={{image.link}} class="btn btn-warning">Download</a>
											<a href={{image.view}} class="btn btn-info">View</a>
											<button class="btn btn-success" data-id={{image.id}} onclick="manuDev_handleImgSelect(this)">Select</button>
											<button class="btn btn-danger" data-id={{image.id}} onclick="manuDev_handleDocDel(this)">Delete</button>
										</td>
									</tr>
								{% endfor %}
							</table>
						</div>
						<div class="row">
							<a href={{"/pages/Manufacturer/DocumentAdd.php?addImage&device_id=" ~ device.device_id}} class="btn btn-primary mb-3">Add Image</a>
						</div>
					</div>
				</div>

				<div class="document-list card bg-light bg-gradient mt-3 mb-3">
					<div class="card-title">
						<h3 class="text-center text-primary py-2 mb-3 h3">Device Documents</h3>
					</div>
					<div class="container">
						<div class="row">
							<table class="table">
								<tr>
									<th scope="col">Document Name</th>
									<th scope="col">Actions</th>
								</tr>
								{% for document in documents %}
									<tr>
										<td>{{document.label}}</td>
										<td>
											<a href={{document.link}} class="btn btn-warning">Download</a>
											<button class="btn btn-danger" data-id={{document.id}} onclick="manuDev_handleDocDel(this)">Delete</button>
										</td>
									</tr>
								{% endfor %}
							</table>
						</div>
						<div class="row">
							<a href={{"/pages/Manufacturer/DocumentAdd.php?device_id=" ~ device.device_id}} class="btn btn-primary mb-3">Add Document</a>
						</div>
					</div>
				</div>

				<div class="button-list card bg-light bg-gradient mt-3 mb-3">
					<a href="/pages/Manufacturer/DeviceList.php" class="btn btn-danger">Back</a>
				</div>

			</div>

			<div class="col-1"></div>

		</div>
	</div>
{% endblock %}
